<!DOCTYPE html>
<html lang="en">
{% include 'head' %}
<body>
{% include 'nav' %}
    <main>
    <h1>{{ title }}</h1>
    {{ content }}
    <footer>&#x00A9 Michael Healy 2025</footer>
    </main>
</body>
</html>