  <!DOCTYPE html>
<html lang="en">
  <head>
    
<link rel="stylesheet" href="https://use.typekit.net/qbf4nzm.css">
<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="stylesheet" href="/michael.healy/bundle.css">
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js" integrity="sha384-XypntL49z55iwGVUW4qsEu83zKL3XEcz0MjuGOQ9SlaaQ68X/g+k1FcioZi7oQAc" crossorigin="anonymous"></script>
<script type="text/javascript">Bokeh.set_log_level("info");</script>
  </head>
  <body>
{% include 'nav' %}
    <main>
    <h1>{{ title }}</h1>
    {{ content }}
{% include 'footer' %}
    </main>
</body>
</html>